.container {
    display: flex;
    flex-direction: column;
    margin: 2.995% 6.198% 7.382%;
}

.title {
    display: flex;
    text-align: left;
    flex: 1 0 100%;
    max-width: 85%;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 3rem;
}

.register {
    display: flex;
    flex-wrap: wrap;
}


.cityAndDate {
    display: flex;
    flex-direction: row;
    gap: 13.89%;
    flex: 1 0 65vw;
    max-width: 85%;
    margin-right: auto;
}


.city {
    width: 23.125rem;
    height: 3.563rem;
}

.date {
    width: 12.5rem;
    height: 3.563rem;
    font-size: 1.25rem;
    font-weight: 400;
    border: transparent;

    max-width: 800px;
}


.temperatureCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.915%;
    margin-bottom: 7.849%;
}

.buttons {
    display: flex;
    margin: 0 0 0 auto;
}

.cardContainer {
    display: flex;
    background: linear-gradient(180deg, rgba(149, 125, 205, 0.5) 0%, rgba(82, 61, 127, 0.5) 100%);
    border-radius: 0.938rem;
    list-style: none;
    width: 87.57vw;
    height: 34.78vh;
    margin-left: auto;
    margin-right: auto;
}

.labelCard {
    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.nightClimate {
    display: flex;
    gap: 2.42rem;
}

.dayClimate {
    display: flex;
    gap: 2.42rem;
}


.dayNightInput {
    margin-bottom: 1rem;
    width: 5.688rem;
    height: 3.563rem;
}


select {
    display: flex;
    margin: auto auto 1rem auto;
    background: linear-gradient(180deg, rgba(149, 125, 205, 0.5) 0%, rgba(82, 61, 127, 0.5) 100%);
    border-radius: 0.938rem;
    border: none;
    padding-left: 0.2rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: #F5F5F5;
    width: 9.875rem;
    height: 3.563rem;

    /* reset for arrow */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:hover {
    cursor: pointer;
    background: linear-gradient(180deg, rgba(149, 125, 205, 0.75) 0%, rgba(82, 61, 127, 0.75) 100%);
}

select option {
    background: rgba(67, 43, 117, 0.8);
    -webkit-appearance: none;
    appearance: none;
}

.weatherDataNumbers {
    display: flex;
    flex-direction: column;
    margin-left: 14.5833vw;
    gap: 1rem;
}

.temperatureData {
    display: flex;
    text-align: left;
    gap: 9vw;
}

.weatherData {
    display: flex;
    text-align: left;
    gap: 4.1vw;
}

.rain {
    display: flex;
    margin-top: 45.87%;
}

.numberFields {
    padding: 0 1.25rem 0 0;
    text-align: center;
    width: 74px;
    height: 3.563rem;
}

.warning {
    font-size: 1rem;
    color: #cc0000;
}

.inputWithErrors {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.selectAndInputContainer {
    display: flex;
    flex-direction: row;
    margin: 6.6196vh 0 0 1.181vw;
}