.App {
    position: relative;
    background: linear-gradient(180deg, #352163 0%, #331972 57.81%, #33143C 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
}
